---
layout: default
language: true
---
<link rel="stylesheet" type="text/css" href="https://cdn.kde.org/breeze-icons/icons.css">

{%- if page.language -%}
  {% assign lang = site.data.language[page.title] %}
  <div class="bg-light py-3 mb-3 border-bottom">
    <div class="col-12 text-center mt-3">
      {% assign sorted = site.tags | sort %}
      {% for tag in sorted %}
        {% assign lang = site.data.language[tag.first] %}
        {% if tag.first == "en" %}
          <a class="mx-2" title="{{ lang.name }}" href="/">{{ lang.name }}</a>
        {% else %}
          <a class="mx-2" title="{{ lang.name }}" href="/{{ tag.first }}/">{{ lang.name }}</a>
        {% endif %}
      {% endfor %}
      <a class="mx-2" title="Mastodon" href="https://mastodon.technology/@kde">Mastodon</a>
      <a class="mx-2" title="Reddit" href="https://reddit.com/r/kde">r/kde</a>
    </div>
  </div>
{%- endif -%}

<div class="container my-4 p-0">
  {% for post in paginator.posts %}
    {% include calendar.html %}
    {% include single-post.html %}
  {% endfor %}
  {% include pagination.html %}
</div>

{% include video.html %}
